<!-- faceSnap devant tous les objets de la classe pour qu'ils soient liés aux objets créés dans les classes -->
<div id="tout">
  <h1>{{ faceSnap.titre }}</h1>
  <p>{{ faceSnap.description }}</p>
  <p>{{ faceSnap.createdDate }}</p>
  <p *ngIf="faceSnap.location">snap fait a {{faceSnap.location}}</p>
  <img [src]="imageUrl" />
  <!-- Utilisation de crochets parce que ce ne sera pas toujours des string -->
  <button (click) ="onClickSnap()">{{buttonReaction}}</button>
  <p>{{ faceSnap.snaps }} snaps recus</p>
  <!-- le bouton marche pour tous maintenant -->
</div>
